<!-- app/views/albums/show.html.erb -->
<h1><%= @album.name %></h1>

<% if @album.images.attached? %>
  <div class="album-images">
    <% @album.images.each do |image| %>
      <%= image_tag image, class: "album-image" %>
      <h1>Cách...................</h1>
    <% end %>
    
  </div>
<% else %>
  <p>No images in this album.</p>
<% end %>


<%= link_to 'Back', albums_path %>
