<!-- app/views/photos/show.html.erb -->
<h1>Photo Details</h1>

<% if @photo.image.attached? %>
  <div>
    <%= image_tag url_for(@photo.image), class: 'photo-image', size: '300x200' %>
  </div>
<% else %>
  <p>No image available.</p>
<% end %>

<p>Name: <%= @photo.name %></p>
<p>Description: <%= @photo.des %></p>

